* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(27,52,71); 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color:white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    color:  rgba(177, 238, 218, 0.801);
}
h1 {
    color: rgb(27, 52, 71);
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: aquamarine;
    border-bottom: solid 1px  rgba(177, 238, 218, 0.801);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 0px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 20px;
}
p {
    padding: 15px;
}
main {
    max-width: 840px;
    color: rgb(87, 27, 143);
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
}
aside h2 {
    position: absolute;
    top:60px;
    left: 125px;
}
aside img {
    width: 350px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer {
    margin-top: 1em;
    border-top: 2px solid rgb(27, 52, 71);
    text-align: center;
    color: rgb(87, 27, 143);
    background-color: rgba(177, 238, 218, 0.527);
}
header, .grid, footer {
max-width: 840px;
margin: 0 auto;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(87, 27, 143);
    padding: 1rem;
    background-color: rgba(207, 166, 245, 0.945);
    color: rgb(27, 52, 71);
}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
}
aside {
    grid-column: 1/2;
    grid-row: 1/2;
}
